@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-uniquifier {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight:400px;
  font-style: normal;
}
/* shayerd style */
/* dark02 */
.text-gray{
    color: rgba(66, 66, 66, 1);
}
/* dark03 */
.text-light-gray{
    color: #727272;
}
/* shared stylels */
.display-flex{
    display: flex;
}
.btn-primarry{
    background-color: #FF900E;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 20px 25px;
    border-radius: 10px;
    border: none;
}
.text-primarry{
    color: #FF900E;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section
{
   margin-top: 130px;
}
.section-tittle{
    font-size: 2.8rem;
    font-weight: 700;
}
/* Header styles */
.bg-color{
    background-color: antiquewhite;
}
/* Navbar styles */
.navbar{
 justify-content: space-between;
 align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.5rem;
}
.nav-item{
   list-style: none;
   text-decoration: none;
   margin-right: 30px;
}
.nav-links{
    text-decoration: none;
    font-weight: 500;
}
.navbar, .bannar ,footer{
    max-width: 1440px;
    margin: 0 auto;
}
/* Bannar content style  */
.bannar-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.bannar-tittle{
    font-weight: 700;
    font-size: 4rem;
}
.bannar-img{
    width: 100%;
}
/* Team and fiture related style  */
.teams{
    align-items: center;
}
.teams-img-containar {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
    /* wark without grid but grid is need for gap  ; */
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
/* feachers section related style */
.fetures{
 gap: 140px;
}
#featcher-section-tittle{
    border-left:5px solid #FF900E;
    padding-left: 20px;
}
.feature-card{
    padding: 30px ;
    box-shadow: 0 4px 30px 0 rgb(200, 200, 200);
    margin-bottom: 20px;
    border-radius: 8px;
}
.feature-card .feature-tittle{
    font-weight: 600;
    font-size: 1.25re; 
    margin-top: 0px;
    margin-bottom: 0px;
}
#experience-badge {
    padding: 45px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -100px;
    margin-top: -100px;
}
.featchar-arcitecture img{
    width: 100%;
}
#experience-year {
    font-size: 4rem;
    font-weight: 700;
}
/* some fats related styles */
.fact-containar{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.fact-card{
    border: 1px solid #FF900E;
    height: 241px;
    width: 241px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}
.fact-discription{
    max-width: 540px;
}
/* sponsors section */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* Footer section */
footer{
    background-color: bisque;
    height: 50px;
}
.copy-right{
    max-width: 540px;
    margin: 50px auto;
    padding-top: 2px;
}
/* Responsive  */
@media screen and (max-width:576px) {
    .navbar,
    .nav-links,
    .teams,
    .fetures
     {
        flex-direction: column;
    }
    .teams-img-containar,
    .fact-containar,
    .sponsor-companies
    {
        grid-template-columns: 1fr;
    }
    .fact-containar{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 20px;
    }
    .sponsor-companies{
        justify-items: center;
        gap: 50px;
    }
    #experience-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
  footer{
    text-align: center;
  }
}
/* medium device  */
@media  screen and (min-width:576px) and (max-width:992px) {
    .teams , .fetures{
        flex-direction: column;
    }
    #experience-badge
    {
        margin-left: 0px;
    }
    .our-features{
        margin-left: 20px;
    }
    /* .fact-containar{
       margin-left: 20px;
    }
    .fact-card{           --->Much batter
        height: 200px;
        width: 200px;
    } */
    .sponsor-companies, .fact-containar{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
}